# Executa scrape_poste.sh e notify_poste.py às 9:36, 11:36, 14:36, 16:36, 19:36 e 21:36 diariamente
36 9,11,14,16,19,21 * * * /bin/bash /app/scraping/scrape_poste.sh >> /var/log/scrape_poste.log 2>&1 && /usr/local/bin/python /app/cleaning/notify_poste.py >> /var/log/notify_poste.log 2>&1
